body {
    background-color: rgba(225, 228, 236, 0.918);
}

nav {
    margin: 1%;
    border-radius: 10px;
}

.navbar-toggler {
    border: none;
    font-size: 16px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ----------------- CONTACT FORM -------------- */

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 85%;
    border-radius: 6px;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #031d75;
}

.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    padding: 3%;
    background: #270407ec;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* ----------------------------------- BARRA SOCIAL ------------------------------- */

.btn-social-barra {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}


.icono-social-barra {
    opacity: 0;
    font-size: 18px;
    color: #1F1E1E;
    will-change: transform;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 180px;
    height: 40px;
    background-color: #EEEEED;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn_wrap:hover {
    transition-delay: .4s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.span-share {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 72px;
    border-radius: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #EEEEED;
    background-color: #270407;
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.container-barra-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px;
}

.btn-social-barra {
    z-index: 9999;
}

.container-barra-social i:nth-of-type(1) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.container-barra-social i:nth-of-type(2) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.container-barra-social i:nth-of-type(3) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.container-barra-social i:nth-of-type(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}


/* -------------------------------------- SERVICES 2 ---------------------------- */

/* Feature Box
---------------------*/
.services-section {
    margin-top: -200px;
}

.container-servicios{
    border-radius: 10px;
}

.feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
  }
  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  
  .feature-box-1 img {
    margin-bottom: 10px;
  }

  .feature-box-1 h5 {
    color: #20247b;
    font-weight: 600;
  }
  .feature-box-1 p {
    margin: 0;
  }
  .feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: #20247b;
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1:hover {
    top: -5px;
  }
  .feature-box-1:hover h5 {
    color: #ffffff;
  }
  .feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
  }
  .feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
  }
  .section {
      padding: 100px 0;
      position: relative;
  }
  .section-title {
      padding-bottom: 45px;
  }
  .section-title h2 {
      font-weight: 700;
      color: #20247b;
      font-size: 45px;
      margin: 0 0 15px;
      border-left: 5px solid #fc5356;
      padding-left: 15px;
  }
  

/* ============================= GALLERIA ================================ */

.container-gallery {
    border-radius: 8px;
    background-color: #28666e00 !important;
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}

a {
    text-decoration: none !important;
}

.h1-gallery {
    font-family: Heavitas, sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #031d75;
    text-align: center;
}

.container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    background: rgba(0, 0, 0, .1)
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0, 0, 0, .5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.highlight {
    filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("../img/painting.svg");
}

.card:nth-of-type(2) .image-container {
    background-image: url("../img/baseboard.svg")
}

.card:nth-of-type(3) .image-container {
    background-image: url("../img/cabinets.svg")
}

.card:nth-of-type(4) .image-container {
    background-image: url("../img/comercialpainting.svg")
}

.card:nth-of-type(5) .image-container {
    background-image: url("../img/exteriorpainting.svg")
}



.image-container {

    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}

.image-container::after {
    content: "";
    display: block; 
    width: 150%;
    height: 150%;
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
}

/* ============================== SERVICES ======================== */

.services-all-box {
    margin-top: -100px;
}

.navbar.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

.navbar {
    margin-top: -2px;
    margin-left: -1px;
}


/* ======================== FOOTER ============================= */

.section-footer {
    margin-top: 100px;
}

.footer .footer-socila-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F84E77;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

.footer .footer-socila-icon a:hover {
    background: #1baaa0;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links li+li {
    padding-top: 10px;
}

.footer .footer-links li a {
    position: relative;
}

.footer .footer-links li a:after {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    transition: ease all 0.35s;
    background: #F84E77;
}

.footer .footer-links li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.container-footer {
    background-color: #1F1E1E !important;
}

.bg-dark-gradient {
    background-color: #1F1E1E;
}

.white-link a {
    color: rgba(255, 255, 255, 0.65);
}

a {
    text-decoration: none
}

.avatar-lg img {
    width: 90px;
    height: 90px;
}

/* ============================== HERO ============================== */

.page-title h1{
    color: #031e751a;
}

.page-header {
    background: url(../img/hero.svg)no-repeat;
    position: relative;
    background-size: cover;
}

.page-caption {
    padding-top: 170px;
    padding-bottom: 174px;
}

.page-title {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.card-section {
    position: relative;
    bottom: 60px;
}

.card-block {
    padding: 80px;
}

.section-title {
    margin-bottom: 60px;
}

/* ================================= ABOUT US ========================== */

.aboutd-dos {
    margin-top: -20PX;
}
.about-us {
    margin-top: -200px;
}

.container-seccion-about {
    background-color: rgba(225, 228, 236, 0.918);
    border-radius: 10px;
}

.gray-bg {
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}

.aboutd-dos {
    background-color: rgba(225, 228, 236, 0.918);
}

/* =============================== OUR TEAM ========================== */



/* ============================== SOCILA ======================== */

.box13 {
    position: relative;
    transition: all .2s ease-out 0s;
}

.box13 .box-content,
.box13:after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.box13:after {
    content: "";
    display: block;
    background: #463f9f;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: all .4s ease-in-out 0s;
}

.box13:hover:after {
    opacity: .9;
    transform: rotate3d(0, 0, 0, 0deg);
}

.box13 img {
    width: 100%;
    height: auto;
}

.box13 .box-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(10%, -30%);
    transform: translate(10%, -30%);
    transition: all .2s ease-out 0s;
}

.box13:hover .box-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .2s;
}

.box13 .title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #39b54a;
    margin: 0 0 10px;
}

.box13 .post {
    display: block;
    font-size: 15px;
    color: #f7f7b9;
    margin-bottom: 20px;
}

.box13 .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box13 .social li {
    display: inline-block;
}

.box13 .social li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #f7f7b9;
    border-radius: 50%;
    font-size: 17px;
    color: #1b1462;
    line-height: 35px;
    margin-right: 5px;
    transition: all .4s ease-in-out 0s;
}

.box13 .social li a:hover {
    color: #f7f7b9;
    background: #39b54a;
}

@media only screen and (max-width: 990px) {
    .box13 {
        margin-bottom: 30px;
    }
}


/* ================================ QUERIS =============================== */

@media only screen and (max-width: 639px) {
    .ag-maecenas_title {
        font-size: 60px;
    }
}

@media only screen and (max-width: 479px) {
    .ag-maecenas_title {
        font-size: 40px;
    }

    .btn-social-barra {
        display: none;
    }

    .bbb_name {
        margin-top: 25px;
    }

    .bbb_image {
        margin-top: 40px;
    }

    .left-hero {
        width: 100%;
    }

    .h1-gallery {
        font-size: 50px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }

}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }

}